# Reader

This module parses the database files

### Import required libraries

In [1]:
import pandas.io.parsers as pd
import parameters as p
import numpy as np

print(p.abstract_files)

['tls203_part01.txt', 'tls203_part02.txt', 'tls203_part03.txt', 'tls203_part04.txt', 'tls203_part05.txt', 'tls203_part07.txt', 'tls203_part08.txt']

### Read the titles file

In [2]:
# abstract_file_path = p.db_dir + p.abstract_files[7]
abstract_file_path = 'C:/Users/amir/OneDrive/projects/dr_Stevens/data/tls203_part06.txt'

In [3]:
abstracts = pd.read_csv(abstract_file_path, engine='python', error_bad_lines=False)

### Show head of abstract file

In [4]:
abstracts.head(3)

,appln_id,appln_abstract_lg,appln_abstract
0,424126322,en,A technique of ileoendoanal anastomosis provid...
1,424126324,en,A method for selection of pelvic-perineal colo...
2,424126326,en,A method for modeling rectal ampulla provides ...

### Defining function for Searching the content for the keywords

In [5]:
def search(df, *words):
    return df[np.logical_or.reduce([df['appln_abstract'].str.contains(word) for word in words])]

### Keep only english texts

In [6]:
abstracts = abstracts[abstracts['appln_abstract_lg']=='en']

### Drop rows including 'NA' data

In [7]:
abstracts = abstracts.dropna()
abstracts.head()

,appln_id,appln_abstract_lg,appln_abstract
0,424126322,en,A technique of ileoendoanal anastomosis provid...
1,424126324,en,A method for selection of pelvic-perineal colo...
2,424126326,en,A method for modeling rectal ampulla provides ...
3,424126328,en,A method for selection of rectal ampulla compr...
4,424126330,en,A method for assessing the indications to the ...

## - Type 1 patents

#### Search for the keywords (1st filter)

In [8]:
import parameters as p
desired_abstracts = search(abstracts, *p.type_1_keywords_1)
desired_abstracts.to_csv('type1_1st_filter.csv')
desired_abstracts.head()

,appln_id,appln_abstract_lg,appln_abstract
733,424127796,en,A main gas pipeline includes linear section wi...
1205,424128750,en,The invention relates to mechanical engineerin...
1236,424128812,en,A temperature differential engine device inclu...
2994,424134342,en,"A gas turbine engine blade (22), including an ..."
3200,424137972,en,"A Helmholtz damper (24), especially for dampin..."

#### Search for the keywords (2nd filter)

In [9]:
desired_abstracts = search(desired_abstracts, *p.type_1_keywords_2)
desired_abstracts.to_csv('type1_2nd_filter.csv')
desired_abstracts.head()

,appln_id,appln_abstract_lg,appln_abstract
13175,424162500,en,The invention discloses a brown coal drying po...
33805,424229190,en,The utility model relates to the field of LEDs...
38627,424245236,en,A gas turbine engine fuel system has an ecolog...
147955,424736880,en,The utility model relates to a heat storage re...
149779,424740528,en,The utility model discloses a wide range bypas...

## - Type 2 patents

In [10]:
import parameters as p
desired_abstracts = search(abstracts, *p.type_2_keywords_1)
desired_abstracts.to_csv('type2_1st_filter.csv')
desired_abstracts.head()

,appln_id,appln_abstract_lg,appln_abstract
17,424126356,en,A process for preparing organically modified m...
52,424126427,en,A packaging film comprises polyolefin or a ble...
121,424126565,en,The present invention relates to the productio...
153,424126629,en,Disclosed is a method for cooling high-tempera...
203,424126729,en,The invention relates to equipment for gasific...

In [11]:
desired_abstracts = search(desired_abstracts, *p.type_2_keywords_2)
desired_abstracts.to_csv('type2_2nd_filter.csv')
desired_abstracts.head()

,appln_id,appln_abstract_lg,appln_abstract
203,424126729,en,The invention relates to equipment for gasific...
283,424126892,en,A method for clarification of diffusion juice ...
367,424127060,en,A process for purification of ground water fro...
2373,424131117,en,An installation for extraction of carbon dioxi...
3241,424142462,en,The present invention provides a non-aqueous e...