# This module combines: appln_id; ipc code and cpc codes for type 1 and type 2 patents

### Import Important Libraries

In [1]:
import pandas as pd

### Import DataFrames

In [35]:
ipc_1 = pd.read_pickle('input/ipc_type_1.pkl')
ipc_2 = pd.read_pickle('input/ipc_type_2.pkl')
cpc_1 = pd.read_pickle('input/cpc_type_1.pkl')
cpc_2 = pd.read_pickle('input/cpc_type_2.pkl')

Since pandas import pickled dataframes as series, they need to be converted to dataframe again

In [36]:
ipc_1 = pd.DataFrame(ipc_1)
ipc_2 = pd.DataFrame(ipc_2)
cpc_1 = pd.DataFrame(cpc_1)
cpc_2 = pd.DataFrame(cpc_2)

### Combine type 1 and type 2 data

In [47]:
type_1 = pd.concat([ipc_1, cpc_1], axis=1, join='inner')
type_2 = pd.concat([ipc_2, cpc_2], axis=1, join='inner')

In [50]:
type_1

,ipc_class_symbol,cpc_class_symbol
appln_id,,
12343,[F01K 13/02],[F01K 13/02]
78313,"[F23J 15/06, F23L 7/00, F23N 3/00]","[B01D 53/002, B01D 53/62, B01D2257/504, F01K..."
119068,"[F01D 19/00, F01K 3/00, F01K 3/04, F01K ...","[F01D 1/00, F01D 19/02, F01K 3/004, F01K ..."
126543,"[C23C 4/04, C23C 28/02, C23C 28/04, F01D ...","[C23C 4/04, C23C 28/027, C23C 28/028, F01D..."
194282,"[C23C 26/00, C23C 28/04]","[C23C 26/00, C23C 28/027, C23C 28/028, Y02T..."
...,...,...
502884161,"[F01D 25/34, F02C 7/275, F02C 7/32]","[F01D 25/34, F02C 7/275, F02C 7/32]"
504988704,[F01K 23/10],"[F01K 9/00, F01K 13/02, F01K 23/04, F01K ..."
505207466,"[F02C 6/18, F02C 7/08]","[F02C 6/18, F02C 7/08]"
505207743,[F02C 7/236],[F02C 7/236]
505778141,"[C22B 7/00, C22C 1/02, C22F 1/10]","[B09B 3/00, B09B 3/0083, C22B 7/00, C22B..."

In [51]:
type_2

,ipc_class_symbol,cpc_class_symbol
appln_id,,
354,"[C01B 3/12, F23K 5/00]","[C01B 3/12, C01B 3/48, C01B2203/0288, C01B..."
1793,"[C07C 1/04, C10G 2/00]","[B01J 8/007, B01J 8/085, B01J 8/1818, B0..."
2018,"[C08F 26/06, C08F 220/56, C08G 64/18, C08L ...","[C08G 77/442, C08G 77/448, C08L 33/14, C08L..."
2392,"[B01F 7/02, B01F 15/02, B03B 1/00, B03D ...","[B01F 3/1221, B01F 7/048, B01F 15/0251, B..."
3204,"[C07D 307/12, C10L 1/18, C10L 10/12]","[C07D 307/12, C10L 1/02, C10L 1/1855, C10L..."
...,...,...
506455363,"[B01D 53/14, B01D 53/18]","[B01D 53/1412, B01D 53/1475, B01D 53/18, B0..."
506455827,"[A21D 8/00, A21D 8/02, A21D 8/04, A21D ...","[A21D 2/186, A21D 2/26, A21D 8/047, A21D..."
506456602,[F25J 3/02],"[B01D 1/06, B01D 1/20, B01D 3/007, C10G ..."
506457240,"[C07C 43/20, C09B 69/10, G01N 33/00]","[C08K 5/06, C09D 5/00, C09D 5/004, C09D ..."
506457960,"[C07C 43/188, C07C 43/20, C09D 5/02, C09D ...","[C08K 5/06, C09D 5/004, C09D 5/024, C09D..."

### Save the results in output directory

In [53]:
type_1.to_csv('output/type_1.csv')
type_2.to_csv('output/type_2.csv')