### Importing Important Libraries

In [1]:
import pandas as pd
import parameters as p

### Read appln_id related to type_1 or type_2 patents

In [2]:
appln_id_1 = pd.read_csv('input/final_type_1.csv')['appln_id']
appln_id_2 = pd.read_csv('input/final_type_2.csv')['appln_id']

In [3]:
appln_id_1

0           12343
1           78313
2          119068
3          126543
4          194282
          ...
1668    458355326
1669    469499059
1670    473833985
1671    493250368
1672    496437409
Name: appln_id, Length: 1673, dtype: int64

### Reading total CPC codes for every appln_id

In [6]:
file = pd.read_pickle('input/cpc_total.pkl')

### Extract part of CPC codes related to type_1 and type_2 patents respectively

In [7]:
cpc_1 = file[file['appln_id'].isin(appln_id_1)]
cpc_2 = file[file['appln_id'].isin(appln_id_2)]

In [8]:
cpc_1

           appln_id cpc_class_symbol
45310         12343      F01K  13/02
298030        78313     B01D  53/002
298031        78313      B01D  53/62
298032        78313     B01D2257/504
298033        78313      F01K   7/16
...             ...              ...
89503548  505778141      C22C   1/02
89503549  505778141     C22C   1/023
89503550  505778141      C22F   1/10
89503551  505778141     Y02P  10/224
89503552  505778141    Y02T  50/6765

[6882 rows x 2 columns]

### To combine IPC codes for the rows with same appln_id

In [9]:
cpc_1 = cpc_1.groupby('appln_id')['cpc_class_symbol'].unique()
cpc_2 = cpc_2.groupby('appln_id')['cpc_class_symbol'].unique()

In [10]:
cpc_1

appln_id
12343                                            [F01K  13/02]
78313        [B01D  53/002, B01D  53/62, B01D2257/504, F01K...
119068       [F01D   1/00, F01D  19/02, F01K   3/004, F01K ...
126543       [C23C   4/04, C23C  28/027, C23C  28/028, F01D...
194282       [C23C  26/00, C23C  28/027, C23C  28/028, Y02T...
                                   ...
502884161             [F01D  25/34, F02C   7/275, F02C   7/32]
504988704    [F01K   9/00, F01K  13/02, F01K  23/04, F01K  ...
505207466                           [F02C   6/18, F02C   7/08]
505207743                                       [F02C   7/236]
505778141    [B09B   3/00, B09B   3/0083, C22B   7/00, C22B...
Name: cpc_class_symbol, Length: 1325, dtype: object

In [11]:
cpc_1.to_pickle('cpc_type_1.pkl')
cpc_2.to_pickle('cpc_type_2.pkl')