### Importing Important Libraries

In [1]:
import pandas as pd
import parameters as p

### Read appln_id related to type_1 or type_2 patents

In [40]:
appln_id_1 = pd.read_csv('input/final_type_1.csv')['appln_id']
appln_id_2 = pd.read_csv('input/final_type_2.csv')['appln_id']

In [41]:
appln_id_1

0           12343
1           78313
2          119068
3          126543
4          194282
          ...
1668    458355326
1669    469499059
1670    473833985
1671    493250368
1672    496437409
Name: appln_id, Length: 1673, dtype: int64

### Reading total IPC codes for every appln_id

ipc = pd.read_pickle('input/ipc_total.pkl')

### Extract part of IPC codes related to type_1 and type_2 patents respectively

In [38]:
ipc_1 = file[file['appln_id'].isin(appln_id_1)]
ipc_2 = file[file['appln_id'].isin(appln_id_2)]

In [39]:
ipc_1

           appln_id ipc_class_symbol
27938         12343      F01K  13/02
169027        78313      F23J  15/06
169028        78313      F23L   7/00
169029        78313      F23N   3/00
255858       119068      F01D  19/00
...             ...              ...
87748568  506181002      F01K  11/02
87748569  506181002      F01K  13/02
87748570  506181002      F02C   6/00
87748571  506181002     F02C   7/277
87748572  506181002      F16D  43/04

[5297 rows x 2 columns]

### To combine IPC codes for the rows with same appln_id

In [42]:
ipc_1 = ipc_1.groupby('appln_id')['ipc_class_symbol'].unique()
ipc_2 = ipc_2.groupby('appln_id')['ipc_class_symbol'].unique()

In [45]:
ipc_1

appln_id
12343                                            [F01K  13/02]
78313                  [F23J  15/06, F23L   7/00, F23N   3/00]
119068       [F01D  19/00, F01K   3/00, F01K   3/04, F01K  ...
126543       [C23C   4/04, C23C  28/02, C23C  28/04, F01D  ...
194282                              [C23C  26/00, C23C  28/04]
                                   ...
504988704                                        [F01K  23/10]
505207466                           [F02C   6/18, F02C   7/08]
505207743                                       [F02C   7/236]
505778141              [C22B   7/00, C22C   1/02, C22F   1/10]
506181002    [F01D  19/00, F01D  25/10, F01D  25/34, F01K  ...
Name: ipc_class_symbol, Length: 1670, dtype: object

In [47]:
ipc_1.to_pickle('ipc_type_1.pkl')
ipc_2.to_pickle('ipc_type_2.pkl')